#
# Configuration for the su-wrapper
#
# This utility allowes special users execution of 
# special commands under an other euid
#
# Description of the lines follow, 
# any of the allow lines have to match and none the deny lines
# may match. the su-wrapper tries hard to find any way to grant the access
#

# User  Group 	Command	Cmdline	EUser	EGroup	ECommand	Params
# 
# User    -> the user which may call it. (use * for all users)
# Group   -> the group which may call it (user * for all groups)
# Command -> the argv[0] su-wrapper is called with (wildcards allowed)
# Cmdline -> the argv[1]+argv[2]+... su-wrapper is called with (wildcards allowed)
# EUser   -> the effective user under which the command is executed
#		( - for ignore and use the same user )
# EGroup  -> the change the group to this.
# ECommand -> execute this command
# Params   -> additional params - not implementet yet.
#
# Note: the command line is splitted in the command (argv[0])
#       and cmdline (argv[1]+argv[2]...)
#
#       this eases the usage of symlinks.

# IMPORTANT: the lines are processes up to down - the last match
#            is significant. so if you wann deny some special things,
#	     you have to put them under those lines which would allow them.

*	*	lpd		*	root	root	/usr/sbin/lpd.real
*	*	uucp-poll	*	root	root	/usr/bin/autopoll
*	*	inet-up		*	root	root	/usr/bin/autonet on
*	*	inet-down	*	root	root	/usr/bin/autonet off
*	*	inet-poll	*	root	root	/usr/bin/autonet poll
*	*	XServer		*	root	root	/usr/X11R6/bin/X
marduk	*	rootshell	*	root	root	/bin/sh

# deny nobody everything, each call from nobody ends up in an empty command
nobody	-	*		*	-	-	-
